@using Models;
@model  Models.UserModel
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="loginBox" id="Login1">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        ログイン
                    </div>
                    <div class="card-body form-inline">
                        <div class="col-md-7">
                            <form id="frmLogin">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.UserID)<span>※必須</span>
                                    <div class="txtmargin">
                                        @Html.TextBoxFor(x => x.UserID, "", new { @autocomplete = "off", @required = true, @tabIndex = 1, onkeydown = "KeyDown(event,this)" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Password) <span>※必須</span>
                                    <div class="txtmargin">
                                        @Html.TextBoxFor(x => x.Password, "", new { @type = "password", @autocomplete = "off", @required = true, @tabIndex = 2, onkeydown = "KeyDown(event,this)" })
                                    </div>
                                </div>

                                <div class="divlogin">
                                    <input type="button" id="btnlogin" tabindex="3" value="ログイン" />
                                </div>
                            </form>
                        </div>

                        <div class="col-md-3">
                            <img src="~/images/logo.jpg" class="imgLogo" alt="テスト用" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#UserID').focus();

            RequiredCheck($("#UserID"));
            RequiredCheck($("#Password"));

            $("#btnlogin").click(function () {
                Login();
            })
        });

        function Login() {
            var res = ErrorCheckOnClick('Login1');
            if (res == "0") {
                var result = CalltoApiController("/api/UserApi/User_Select", { UserID: $("#UserID").val(), Password: $("#Password").val() });
                var userdata = JSON.parse(result);
                if (userdata.length > 0) {

                    var userinfo = userdata[0].UserID + '_' + userdata[0].UserName;
                        $.post('@Url.Action("CreateSession", "Home")',
                            { key: "UserInfo", value: userinfo }, function (data) {
                                location.href = '@Url.Action("Dashboard", "Home")';
                            });
                }
                else {
                    $("#UserID").focus();
                    ShowMessage("E001");
                }
            }
            else
                ShowMessage(res);
        }
    </script>
}

