@using Models;
@model Models.UserModel
@{
    ViewBag.Title = "UserEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/user.css")

<div id="CmnContents">
    <div id="ComBlock">
        <!-- User search -->
        <div id="edi" class="setDetailBox confSet iconSet iconCheck" hidden>
            <h1>ユーザ編集確認画面</h1>
        </div>
        <div id="reg_Confirm" class="setDetailBox confSet iconSet iconCheck" hidden>
            <h1>ユーザ登録 確認画面</h1>
        </div>
        <div id="regi" class="setDetailBox iconSet iconEdit hidden">
            <h1 id="head"></h1>
        </div>        
        <div class="setDetailBox confSet iconSet iconCheck" id="divUser">
            <table class="userCmnSet editTable">
                <tbody>                   
                    <tr>
                        <th>ユーザ名&nbsp;<span>※必須</span></th>
                        <td>
                            @Html.TextBoxFor(x => x.UserName,new { @required = true, @tabIndex = 1, onkeydown = "KeyDown(event,this)" })
                        </td>
                    </tr>
                    <tr>
                        <th>ID&nbsp;<span>※必須</span></th>
                        <td>
                            @Html.TextBoxFor(x => x.UserID, new { @autocomplete = "off", @tabIndex = 2, onkeydown = "KeyDown(event,this)" })                           
                        </td>
                    </tr>
                    <tr>
                        <th>パスワード&nbsp;<span>※必須</span></th>
                        <td>
                            @Html.TextBoxFor(x => x.Password, new { @type = "password", @autocomplete = "off", @tabIndex = 3, onkeydown = "KeyDown(event,this)" })                           
                        </td>
                    </tr>
                    <tr>
                        <th>ユーザステータス</th>
                        <td>
                            <input type="radio" id="rdostatus" value="1" name="rbdStatus" checked /><span>有効</span>
                            <input type="radio" id="rdostatus1" value="2" name="rbdStatus" /><span>無効</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-left: 7px">
            <table class="userCmnSet editTable">
                <tr>
                    <th style="width: 160px; text-align: left; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-left: 5px solid #73c5ff; padding: 5px 5px 5px 10px">権限&nbsp;<span>※必須</span></th>
                    <td>
                        @*<asp:UpdatePanel ID="UpdatePanel1" runat="server">
                            <ContentTemplate>
                                <asp:GridView ID="gvUserRole" runat="server" ShowHeader="false"
                                              AutoGenerateColumns="false" GridLines="None"
                                              OnRowDataBound="gvUserRole_RowDataBound" OnSelectedIndexChanged="gvUserRole_SelectedIndexChanged">
                                    <Columns>
                                        <asp:TemplateField Visible="false">
                                            <HeaderTemplate>
                                                <asp:Label ID="lblMenuHeader" runat="server" Text="Menu"></asp:Label>
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label runat="server" ID="lblMenu" Text='<%# Eval("Menu_ID")%>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField Visible="false">
                                            <HeaderTemplate>
                                                <asp:Label ID="lblMenuID" runat="server" Text="Menu ID"></asp:Label>
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label runat="server" ID="lblMenuID" Text='<%# Eval("ID")%>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField Visible="false">
                                            <HeaderTemplate>
                                                <asp:Label ID="lblMenu" runat="server" Text="Master ID"></asp:Label>
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label runat="server" ID="lblMasterID" Text='<%# Eval("Parent_ID")%>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField>
                                            <HeaderTemplate>
                                                <asp:CheckBox ID="chkAllRead" runat="server" AutoPostBack="True" OnCheckedChanged="chkReadSelectAll_CheckedChanged" Visible="false" />
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label runat="server" Text="" ID="lblPadding" Visible="false"></asp:Label>
                                                <asp:CheckBox ID="ckbRead" runat="server" AutoPostBack="True" OnCheckedChanged="ckbRead_CheckedChanged" />
                                                <asp:Label runat="server" ID="lblDescription" Text='<%# Eval("Description")%>'></asp:Label>
                                                <asp:Label runat="server" ID="lbl_Descrip"></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                    </Columns>
                                </asp:GridView>
                            </ContentTemplate>
                        </asp:UpdatePanel>*@
                    </td>
                </tr>
            </table>
            <!-- /User search -->
            <div class="btn">
                <div class="userRole">
                    <input type="button" id="btnClose" value="戻る" Style="margin-bottom: 30px;width:100px;height:25px;" />
                    <input type="button" id="btnPrevious" value="戻る" Style="width:100px;" />
                    <input type="button" id="btnAdd" value="確認画面へ" Style="width:100px;" onclick="AddUser()"/>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#UserName').focus();

            RequiredCheck($("#UserName"));
            RequiredCheck($("#UserID"));
            RequiredCheck($("#Password"));
            

       //show the header text based on mode
        if ('@Model.UserID' == "")
        {
            $("#head").text('ユーザ登録');
            $("#regi").removeClass('hidden');
        }
        else
        {
            $("#UserID").prop('readonly', true);
            $("#head").text('ユーザ編集');
            $("#regi").removeClass('hidden');
        }

        //check radio based on Deleteflag
            if ('@Model.DeleteFlg' == "") {
                $("#rdostatus").attr('checked', true);               
            }
            else {
                $("#rdostatus1").attr('checked', true);
            }
        });

        //save user data
        function AddUser() {
            var res = ErrorCheckOnClick('divUser');
            if (res == "0") {
                var result = CalltoApiController("/api/UserApi/User_Save", { UserID: $("#UserID").val(), UserName: $("#UserName").val(), Password: $("#Password").val(), DeleteFlg: $("input[name='rbdStatus']:checked").val(), Mode: '@Model.Mode', CreatedBy: $("#lblUser").text(), UpdatedBy: $("#lblUser").text() });
               
                if (result=="true") {
                    window.location.href = '@Url.Action("UserList","User")';                   
                }
                else {
                     $("#UserName").focus();
                    ShowMessage("E001");
                }
            }
            else
                ShowMessage(res);
        }
    </script>
    }



