@using Models;
@model Models.UserModel
@{
    ViewBag.Title = "UserEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(Url.Content("~/Content/user.css"))

<div id="CmnContents">
    <div id="ComBlock">
        <!-- User search -->
        <div id="edi" class="setDetailBox confSet iconSet iconCheck d-none">
            <h1>ユーザ編集確認画面</h1>
        </div>
        <div id="reg_Confirm" class="setDetailBox confSet iconSet iconCheck d-none">
            <h1>ユーザ登録 確認画面</h1>
        </div>
        <div id="regi" class="setDetailBox iconSet iconEdit d-none">
            <h1 id="head"></h1>
        </div>
        <div class="setDetailBox confSet iconSet iconCheck" id="divUser">
            <table class="userCmnSet editTable">
                <tbody>
                    <tr>
                        <th>ユーザ名&nbsp;<span>※必須</span></th>
                        <td>
                            @Html.TextBoxFor(x => x.UserName, new { @required = true, @tabIndex = 1, onkeydown = "KeyDown(event,this)" })
                        </td>
                    </tr>
                    <tr>
                        <th>ID&nbsp;<span>※必須</span></th>
                        <td>
                            @Html.TextBoxFor(x => x.UserID, new { @autocomplete = "off", @tabIndex = 2, onkeydown = "KeyDown(event,this)" })
                        </td>
                    </tr>
                    <tr>
                        <th>パスワード&nbsp;<span>※必須</span></th>
                        <td>
                            @Html.TextBoxFor(x => x.Password, new { @type = "password", @autocomplete = "off", @tabIndex = 3, onkeydown = "KeyDown(event,this)" })
                        </td>
                    </tr>
                    <tr>
                        <th>ユーザステータス</th>
                        <td>
                            <input type="radio" id="rdostatus" value="1" name="rbdStatus" checked /><label for="rdostatus">有効</label>
                            <input type="radio" id="rdostatus1" value="0" name="rbdStatus" /><label for="rdostatus1">無効</label>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div>
                                <table cellspacing="0" id="tblUserEntry" style="border-collapse:collapse;">
                                    <tbody>                                       
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#UserName').focus();

            if ('@Model.Mode' == "New")
            {
                //check required field
                RequiredCheck($("#UserName"));
                RequiredCheck($("#UserID"));
                RequiredCheck($("#Password"));
                AlreadyExistsCheck($("#UserID"), '@Url.Action("User_ExistCheck", "api/UserApi")', $("#UserID").val(),'','');

                $("#head").text('ユーザ登録');
                $("#regi").removeClass('d-none');
            }
            else if('@Model.Mode'=="Edit")
        {
            RequiredCheck($("#UserName"));
            RequiredCheck($("#Password"));

            $("#UserID").prop('readonly', true);
            $("#head").text('ユーザ編集');
            $("#regi").removeClass('d-none');

            //check radio based on Deleteflag
            if ('@Model.Status' == "有効") {
                $("#rdostatus").attr('checked', true);
            }
            else {
                $("#rdostatus1").attr('checked', true);
            }
        }

            //to input for save confirm
            $("#btnSave").click(function(){
                AlreadyExistsCheck($("#UserID"), '@Url.Action("User_ExistCheck", "/api/UserApi")', $("#UserID").val(),'','');
                var res = ErrorCheckOnClick('divUser');
                if (res == "0") {
                    if ('@Model.Mode' == "New") {
                
                        $("#btnConfirm_Save").val("登録");
                        $("#reg_Confirm").removeClass('d-none');
                    }
                    else {
                        $("#btnConfirm_Save").val("反映");
                        $("#edi").removeClass('d-none');
                    }
                    $("#regi").addClass('d-none');
                    $("#btnPrevious").removeClass('d-none');
                    $("#btnSave").addClass('d-none');
                    $("#btnConfirm_Save").removeClass('d-none');
                    $("#btnback").addClass('d-none');
                    $('.userCmnSet :input').attr('disabled', true);
                }
                else {
                    ShowMessage(res);
                }
            });

            $("#btnPrevious").click(function(){
                $("#edi").addClass('d-none');
                $("#reg_Confirm").addClass('d-none');
                $("#regi").removeClass('d-none');
                $("#btnSave").removeClass('d-none');
                $("#btnback").removeClass('d-none');
                $("#btnPrevious").addClass('d-none');
                $("#btnConfirm_Save").addClass('d-none');
                $('.userCmnSet :input').removeAttr('disabled', true);
            });

            // go to user List
            $("#btnback").click(function(){
               window.location.href='@Url.Action("UserList","User")';
            });

            BindView();
        });

        //save user data
        function ConfirmSave() {
             var result = CalltoApiController("/api/UserApi/User_Save", { UserID: $("#UserID").val(), UserName: $("#UserName").val(), Password: $("#Password").val(), Status: $("input[name='rbdStatus']:checked").val(), Mode: '@Model.Mode', CreatedBy: $("#lblUser").text(), UpdatedBy: $("#lblUser").text() });
                if (result=="true") {
                    ShowMessage("I101","SaveOK");
                }
                else {
                     $("#UserName").focus();
                    ShowMessage("E001");
                }
        }

        function SaveOK() {
            window.location.href = '@Url.Action("UserList","User")';
        }

        function BindView() {
            var obj = {
                ViewID: "",
            };
            var response = CalltoApiController('@Url.Action("View_Select", "api/UserApi")', obj);
            var items = JSON.parse(response);
            var ViewGroupID = '0'; 
            var row = '';
            $.each(items, function (i, item) {
                //if different group, add group title
                if (item.ViewGroupID != ViewGroupID) {
                    row = '<tr><td class="userRoleHeader"><input id="' + item.ViewGroupID + '" class="userRole" type="checkbox"><label for="' + item.ViewGroupID + '">' + item.ViewGroupName + '</label></td></tr>';
                    $("#tblUserEntry tbody").append(row);
                }
                row = '<tr><td><input id="' + item.ViewID + '" name="'+item.ViewGroupID+'" class="userRoleChild" type="checkbox"/><label for="' + item.ViewID + '">' + item.ViewName + '</label></td></tr>';
                
                $("#tblUserEntry tbody").append(row);
                ViewGroupID = item.ViewGroupID;
            });                
        }
    </script>
}



