@using Models;
@model  Models.UserModel
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="loginBox">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        ログイン
                    </div>
                    <div class="card-body form-inline">
                        <div class="col-md-8">
                            <form id="frmLogin">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.UserID)<span>※必須</span>
                                    <div class="txtmargin">
                                        @Html.TextBoxFor(x => x.UserID, "", new { @autocomplete = "off", @required = true })
                                    </div>
                                </div>

                                <div class="form-group">

                                    @Html.LabelFor(x => x.Password) <span>※必須</span>
                                    <div class="txtmargin">
                                        @Html.TextBoxFor(x => x.Password, "", new { @type = "password", @autocomplete = "off", @required = true })
                                    </div>
                                </div>

                                <div class="divlogin">
                                    <input type="button" id="btnlogin" value="ログイン" />
                                </div>
                            </form>
                        </div>

                        <div class="col-md-4">
                            <img src="~/images/logo.jpg" class="imgLogo" alt="テスト用" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#btnlogin").click(function () {
                var result = CalltoApiController("/api/UserApi/User_Select", { UserID: $("#UserID").val(), Password: $("#Password").val() });              
                var data = JSON.parse(result);               
                if (data.length > 0) {
                    window.location.href = '@Url.Action("Index","Home")';
                    }
                    else {
                        alert("Login Failed. Invalid UserName and Password.")
                        $('#UserID').val("");
                        $('#Password').val("");
                    }
            })
        });
    </script>
}
