@using Models;
@model Models.ShopModel
@{
    ViewBag.Title = "ShopEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

@Styles.Render("~/Content/shop.css")

<div id="CmnContents">
    <div id="ComBlock">
        <div id="edit_Confirm" class="setDetailBox iconSet iconCheck" hidden>
            <h1>ショップ編集 確認</h1>
        </div>

        <div id="register_Confirm" class="setDetailBox iconSet iconCheck" hidden>
            <h1>ショップ登録 確認</h1>
        </div>

        <div id="edit" class="setDetailBox iconSet iconEdit">
            <h1 id="head"></h1>
        </div>

        <div class="setDetailBox iconSet iconEdit" id="divShop">
            <table class="shopCmnSet editTable">               
                <tr>
                    <th>ショップ名&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x => x.ShopName, new { @tabIndex = 1, onkeydown = "KeyDown(event,this)" })
                        @Html.HiddenFor(x => x.ShopID)
                        @Html.HiddenFor(x => x.ShopIDPrefix)
                    </td>
                </tr>
                <tr>
                    <th>出店モール&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.DropDownListFor(x => x.MallID, new SelectList(Enumerable.Empty<SelectListItem>()),new { @tabIndex = 2, onkeydown = "KeyDown(event,this)", @style = "width:100px;height:30px;" })
                    </td>
                </tr>
                <tr>
                    <th>ショップID&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x=>x.ShopSiteID, new { @tabIndex = 3, onkeydown = "KeyDown(event,this)"})                        
                    </td>
                </tr>
                <tr>
                    <th>FTPホスト&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x=>x.FtpHost, new { @tabIndex = 4, onkeydown = "KeyDown(event,this)"})
                    </td>
                </tr>
                <tr>
                    <th>FTP アカウント&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x=>x.FtpUserName, new { @tabIndex = 5, onkeydown = "KeyDown(event,this)"})
                    </td>
                </tr>
                <tr>
                    <th>パスワード&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x=>x.FtpPassword, new { @tabIndex = 6, onkeydown = "KeyDown(event,this)"})
                    </td>
                </tr>
                <tr>
                    <th>商品ページURL&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x=>x.ItemURL, new { @tabIndex = 7, onkeydown = "KeyDown(event,this)" })
                    </td>
                </tr>
                <tr>
                    <th>画像URL&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x => x.ImageURL, new { @tabIndex = 8, onkeydown = "KeyDown(event,this)" })
                    </td>
                </tr>
                <tr>
                    <th>送料無料条件 &nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x => x.FreeShippingAmount,new { @tabIndex = 9, onkeydown = "KeyDown(event,this)",onkeypress= "return isNumberKey(event)" }) <span>円以上(税抜)</span>
                    </td>
                </tr>
                <tr>
                    <th>ユーザステータス</th>
                    <td>
                        @Html.RadioButtonFor(x => x.DeleteFlg, "1", new { @tabIndex = 10, @id = "rdostatus", @checked = "true" }) <span>有効</span>                        
                        @Html.RadioButtonFor(x => x.DeleteFlg, "0", new { @tabIndex = 11, @id = "rdostatus1" }) <span>無効</span>
                    </td>
                </tr>
            </table>
            <div class="btn">
                <div class="userRole">
                    <input type="button" id="btnback" value="戻る" />
                    <input type="button" id="btnPrevious" value="戻る" hidden />
                    <input type="button" id="btnSave" value="確認画面へ" onclick="AddShop()" />
                    <input type="button" id="btnConfirm_Save" value="確認画面へ" hidden/>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ShopName').focus();

            RequiredCheck($("#ShopName"));
            RequiredCheck($("#MallID"));
            RequiredCheck($("#ShopSiteID"));
            RequiredCheck($("#FtpHost"));
            RequiredCheck($("#FtpUserName"));
            RequiredCheck($("#FtpPassword"));
            RequiredCheck($("#ItemURL"));
            RequiredCheck($("#ImageURL"));
            RequiredCheck($("#FreeShippingAmount"));

            //show title based on mode(Edit/New)
            if ('@Model.ShopID' != "") {
                $("#head").text("ショップ編集");
                $("#edit_Confirm").removeClass('hide');
                $("#btnConfirm_Save").val("確認");
                $("#edit").addClass('hide');
                //chage currency format
                $("#FreeShippingAmount").val(parseInt('@Model.FreeShippingAmount').toLocaleString());
            }
            else {
                $("#head").text("ショップ一登録");
                $("#register_Confirm").removeClass("hide");
                $("#edit_Confirm").addClass('hide');
                $("#btnConfirm_Save").val("登録");
                $("#edit").addClass('hide');
            }

            //check status based on DeleteFlag
            if ('@Model.DeleteFlg' == "有効") {
                $("#rdostatus").prop("checked", true);
            }
            else {
                $("#rdostatus1").prop("checked", true);
            }

            BindMall();
        })

         function BindMall() {
            var obj = {
                MallID: "",
            };
            var response = CalltoApiController('@Url.Action("Mall_Select", "api/MallApi")', obj);
            var items = JSON.parse(response);

             $("#MallID").empty();

            $.each(items, function (i, item) {
                $("#MallID").append(
                    $('<option></option>').val(item.MallID).html(item.MallName));
             });
             $("#MallID").val('@Model.MallID');
        }

          //save shop data
        function AddShop() {
        var res = ErrorCheckOnClick('divShop');
            if (res == "0") {
                var result = CalltoApiController("/api/ShopApi/Shop_Save", {Mode:'@Model.Mode',ShopIDPrefix:$("#ShopIDPrefix").val(), ShopSiteID: $("#ShopSiteID").val(), ShopName: $("#ShopName").val(),MallID:$("#MallID").val(),FtpHost:$("#FtpHost").val(),FtpUserName:$("#FtpUserName").val(),FtpPassword:$("#FtpPassword").val(),ItemURL:$("#ItemURL").val(),ImageURL:$("#ImageURL").val(),FreeShippingAmount:$("#FreeShippingAmount").val(),DeleteFlg:$("input[name='DeleteFlg']:checked").val()});
               
                if (result=="true") {
                    window.location.href = '@Url.Action("UserList","User")';                   
                }
                else {
                     $("#UserName").focus();
                    ShowMessage("E001");
                }
            }
            else
                ShowMessage(res);
        }
    </script>
}