@model Models.ShopTemplateModel
@{
    ViewBag.Title = "Shop_TemplateEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(Url.Content("~/Content/item.css"))

<div id="CmnContents">
    <div id="ComBlock">
        <div class="setListBox inlineSet iconSet iconEdit">
            <h1 id="MainContent_head">スマートテンプレート編集</h1>
            <div class="smartTmp entryBox">
                <div id="divSpTemplate">
                    <table id="tblTemplateHeader">
                        <tbody>
                            <tr>
                                <th>ステータス</th>
                                <td>
                                    <input type="radio" id="RadioButton1" onkeydown = "KeyDown(event,this)" tabindex="1" name="status" value="1" checked /><label> 有効</label>
                                    <input type="radio" id="RadioButton2" onkeydown = "KeyDown(event,this)" tabindex="1" name="status" value="0" /><label> 無効</label>
                                </td>
                            </tr>
                            <tr>
                                <th>テンプレートID</th>
                                <td valign="top">
                                    @Html.TextBoxFor(m => m.TemplateID, new { @maxlength = 50,@tabIndex = 2, onkeydown = "KeyDown(event,this)" })
                                </td>
                            </tr>
                            <tr>
                                <th>テンプレート名</th>
                                <td>
                                    @Html.TextBoxFor(m => m.TemplateName, new { @maxlength = 50 , @tabIndex = 3})
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/rakutenmall.png")" /><span> #1 ラケットプラザ楽天</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.R_racket, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex = 4})
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/rakutenmall.png")" /><span> #2 スポーツプラザ楽天</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.R_sportsplaza, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex = 5})
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/rakutenmall.png")" /><span> #3 ラックピース楽天</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.R_luckpiece, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex = 6 })
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/rakutenmall.png")" /><span> #4 ベースボールプラザ楽天</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.R_honpo, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex = 7})
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/yahoo.png")" /><span> #5 ラケットプラザヤフー</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.Y_racket, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex = 8})
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/yahoo.png")" /><span> #6 スポーツプラザヤフー</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.Y_sportsplaza, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex =9 })
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/yahoo.png")" /><span> #7 ラックピースヤフー</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.Y_luckpiece, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex =10})
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/yahoo.png")" /><span> #8 卓球本舗ヤフー</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.Y_honpo, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex = 11 })
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/yahoo.png")" /><span> #9 ベースボールプラザヤフー</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.Y_bb_plaza, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex = 12 })
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/ponparemall.jpg")" /><span> #10 ラケットプラザポンパレ</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.P_racket, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex = 13 })
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/amazon.png")" /><span> #11 Amazon</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.A_rasta, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex = 14 })
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/wowma.png")" /><span> #12 Wowma Racket</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.W_wowma, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex = 15 })
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/jisha.jpg")" /><span> #13 新自社</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    @Html.TextAreaFor(m => m.J_racket, new { @placeholder = "半角英数字／-（ハイフン）／_（アンダーバー）が利用可能", @tabIndex =16 })
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btn">
                        <div class="userRole">
                            <input type="button" id="btnback" value="戻る" />
                            <input type="button" id="btnPrevious" value="戻る" class="d-none" />
                            <input type="button" id="btnSave" value="確認画面へ" tabIndex =16 />
                            <input type="button" id="btnConfirm_Save" value="確認画面へ" onclick="ConfirmSave()" class="d-none" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
      $(document).ready(function () {
          $("#RadioButton1").focus();

          if ('@Model.Mode' == "New") {
              //change title text
              $("#MainContent_head").text("スマートテンプレート登録");

              //check required field
              RequiredCheck($("#TemplateID"));

              //check shop exists or not
              AlreadyExistsCheck('@Url.Action("ShopTemplate_ExistCheck", "api/ShopApi")', $("#TemplateID"), '', '');
          }
          else if ('@Model.Mode' == "Edit") {
              //change title text
              $("#MainContent_head").text("スマートテンプレート編集");

              $("#TemplateID").prop('disabled', true);

              //check status based on status
              if ('@Model.Status' == "有効") {
                  $("#RadioButton1").prop("checked", true);
              }
              else {
                  $("#RadioButton2").prop("checked", true);
              }
          }

          //to input for save confirm
          $("#btnSave").click(function () {
              var res = ErrorCheckOnClick('divSpTemplate');
              if (res == "0") {

                  if ('@Model.Mode' == "New")
                      $("#btnConfirm_Save").val("登録");
                  else
                      $("#btnConfirm_Save").val("反映");

                  $("#btnConfirm_Save").focus();
                  $("#btnPrevious").removeClass('d-none');
                  $("#btnSave").addClass('d-none');
                  $("#btnConfirm_Save").removeClass('d-none');
                  $("#btnback").addClass('d-none');
                  $('#tblTemplateHeader :input').attr('disabled', true);
                  $("#btnConfirm_Save").focus();
              }
              else
                  ShowMessage(res);
          });

          $("#btnPrevious").click(function () {
              $("#btnSave").removeClass('d-none');
              $("#btnback").removeClass('d-none');
              $("#btnPrevious").addClass('d-none');
              $("#btnConfirm_Save").addClass('d-none');
              $('#tblTemplateHeader :input').removeAttr('disabled', true);
              if ('@Model.Mode' == "Edit") {
                  $("#TemplateID").prop('disabled', true);
              }
          });

          // go to ShopTemplate List List
          $("#btnback").click(function () {
              window.location.href = '@Url.Action("Shop_TemplateList","Shop")';
          });
      });

       //save shop data
        function ConfirmSave() {
            
            var result = CalltoApiController("/api/ShopApi/ShopTemplate_Save", {
                Mode: '@Model.Mode', TemplateID: $("#TemplateID").val(),
                TemplateName: $("#TemplateName").val(), R_racket: $("#R_racket").val(),
                R_sportsplaza: $("#R_sportsplaza").val(), R_luckpiece: $("#R_luckpiece").val(),
                R_honpo: $("#R_honpo").val(), Y_racket: $("#Y_racket").val(),
                Y_sportsplaza: $("#Y_sportsplaza").val(), Y_luckpiece: $("#Y_luckpiece").val(),
                Y_honpo: $("#Y_honpo").val(), Y_bb_plaza: $("#Y_bb_plaza").val(), P_racket: $("#P_racket").val(),
                A_rasta: $("#A_rasta").val(), W_wowma: $("#W_wowma").val(), J_racket: $("#J_racket").val(),
                CreatedBy: $("#lblUser").text(), UpdatedBy: $("#lblUser").text(), Status: $("input[name='status']:checked").val()
            });

                if (result=="true") {
                    ShowMessage("I101","SaveOK");
                }
                else {
                     $("#UserName").focus();
                    ShowMessage("E001");
                }
        }

        function SaveOK() {
            window.location.href = '@Url.Action("Shop_TemplateList","Shop")';
        }
    </script>
}


