@using Models;
@model Models.ShopModel
@{
    ViewBag.Title = "ShopEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/shop.css")

<div id="CmnContents">
    <div id="ComBlock">
        <div id="edit_Confirm" class="setDetailBox iconSet iconCheck d-none">
            <h1>ショップ編集 確認</h1>
        </div>

        <div id="register_Confirm" class="setDetailBox iconSet iconCheck d-none">
            <h1>ショップ登録 確認</h1>
        </div>

        <div id="edit" class="setDetailBox iconSet iconEdit">
            <h1 id="head"></h1>
        </div>

        <div class="setDetailBox iconSet iconEdit" id="divShop">
            <table class="shopCmnSet editTable">
                <tr>
                    <th>ショップ名&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x => x.ShopName, new { @tabIndex = 1, onkeydown = "KeyDown(event,this)" })
                        @Html.HiddenFor(x => x.ShopID)
                        @Html.HiddenFor(x => x.ShopIDPrefix)
                    </td>
                </tr>
                <tr>
                    <th>出店モール&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.DropDownListFor(x => x.MallID, new SelectList(Enumerable.Empty<SelectListItem>()), new { @tabIndex = 2, onkeydown = "KeyDown(event,this)", @style = "width:100px;height:30px;" })
                    </td>
                </tr>
                <tr>
                    <th>ショップID&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x => x.ShopSiteID, new { @tabIndex = 3, onkeydown = "KeyDown(event,this)" })
                    </td>
                </tr>
                <tr>
                    <th>FTPホスト&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x => x.FtpHost, new { @tabIndex = 4, onkeydown = "KeyDown(event,this)" })
                    </td>
                </tr>
                <tr>
                    <th>FTP アカウント&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x => x.FtpUserName, new { @tabIndex = 5, onkeydown = "KeyDown(event,this)" })
                    </td>
                </tr>
                <tr>
                    <th>パスワード&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x => x.FtpPassword, new { @tabIndex = 6, onkeydown = "KeyDown(event,this)" })
                    </td>
                </tr>
                <tr>
                    <th>商品ページURL&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x => x.ItemURL, new { @tabIndex = 7, onkeydown = "KeyDown(event,this)" })
                    </td>
                </tr>
                <tr>
                    <th>画像URL&nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x => x.ImageURL, new { @tabIndex = 8, onkeydown = "KeyDown(event,this)" })
                    </td>
                </tr>
                <tr>
                    <th>送料無料条件 &nbsp;<span>※必須</span></th>
                    <td>
                        @Html.TextBoxFor(x => x.FreeShippingAmount, new { @tabIndex = 9, onkeydown = "KeyDown(event,this)", onkeypress = "return isNumberKey(event)", onkeyup = "SetThousandSeparator(this.id);", @style="text-align:right;" }) <span>円以上(税抜)</span>
                    </td>
                </tr>
                <tr>
                    <th>ユーザステータス</th>
                    <td>
                        @Html.RadioButtonFor(x => x.Status, "0", new { @tabIndex = 11, @id = "rdostatus1", @checked = "true" }) <span>無効</span>
                        @Html.RadioButtonFor(x => x.Status, "1", new { @tabIndex = 10, @id = "rdostatus"}) <span>有効</span>
                    </td>
                </tr>
            </table>
            <div class="btn">
                <div class="userRole">
                    <input type="button" id="btnback" value="戻る" />
                    <input type="button" id="btnPrevious" value="戻る" class="d-none" />
                    <input type="button" id="btnSave" value="確認画面へ" />
                    <input type="button" id="btnConfirm_Save" value="確認画面へ" onclick="ConfirmSave()" class="d-none" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#ShopName').focus();

            //FreeShippingAmount
            SetThousandSeparator("FreeShippingAmount");

            
            if ('@Model.Mode' == "New") {

                //check required field
                RequiredCheck($("#ShopName"));
                RequiredCheck($("#MallID"));
                RequiredCheck($("#ShopSiteID"));
                RequiredCheck($("#FtpHost"));
                RequiredCheck($("#FtpUserName"));
                RequiredCheck($("#FtpPassword"));
                RequiredCheck($("#ItemURL"));
                RequiredCheck($("#ImageURL"));
                RequiredCheck($("#FreeShippingAmount"));

                $("#head").text("ショップ一登録");                           
            }
            else if('@Model.Mode'=="Edit")
            {
                //check required field
                RequiredCheck($("#ShopName"));
                RequiredCheck($("#FtpHost"));
                RequiredCheck($("#FtpUserName"));
                RequiredCheck($("#FtpPassword"));
                RequiredCheck($("#ItemURL"));
                RequiredCheck($("#ImageURL"));
                RequiredCheck($("#FreeShippingAmount"));

                $("#ShopSiteID").prop('disabled', true);
                $("#MallID").prop('disabled', true);
                $("#head").text("ショップ編集");
                
                 //check status based on DeleteFlag
                if ('@Model.Status' == "有効") {
                    $("#rdostatus").prop("checked", true);
                }
                else {
                    $("#rdostatus1").prop("checked", true);
                }
            }
           
            //bind mall id and name
            BindMall();

            //to input for save confirm
          $("#btnSave").click(function()
          {
              var res = ErrorCheckOnClick('divShop');
              if (res == "0") {
                  if ('@Model.Mode' == "New") {
                      $("#register_Confirm").removeClass('d-none');
                      $("#btnConfirm_Save").val("登録");
                  }
                  else {
                      $("#edit_Confirm").removeClass('d-none');
                      $("#btnConfirm_Save").val("反映");
                  }
                  $("#edit").addClass('d-none');
                  $("#btnPrevious").removeClass('d-none');
                  $("#btnSave").addClass('d-none');
                  $("#btnConfirm_Save").removeClass('d-none');
                  $("#btnback").addClass('d-none');
                  $('.shopCmnSet :input').attr('disabled', true);
              }
              else
                  ShowMessage(res);
         });

         $("#btnPrevious").click(function()
         {
            $("#edit").removeClass('d-none');
            $("#register_Confirm").addClass('d-none');
            $("#edit_Confirm").addClass('d-none');
            $("#btnSave").removeClass('d-none');
            $("#btnback").removeClass('d-none');
            $("#btnPrevious").addClass('d-none');
            $("#btnConfirm_Save").addClass('d-none');
            $('.shopCmnSet :input').removeAttr('disabled', true);
            $("#ShopSiteID").prop('disabled', true);
            $("#MallID").prop('disabled', true);
         });

        // go to shop List
         $("#btnback").click(function()
         {
            window.location.href='@Url.Action("ShopList","Shop")';
         });

        })

         function BindMall() {
            var obj = {
                MallID: "",
            };
            var response = CalltoApiController('@Url.Action("Mall_Select", "api/MallApi")', obj);
            var items = JSON.parse(response);

             $("#MallID").empty();

            $.each(items, function (i, item) {
                
                var mallID=item.MallID+"/"+item.ShopIDPrefix;
                $("#MallID").append(
                    $('<option></option>').val(mallID).html(item.MallName));
             });

             if('@Model.Mode'=="New")
                $('#MallID option:first-child').attr("selected", "selected");
             else
                $("#MallID").val('@Model.MallID'+'/@Model.ShopIDPrefix');
        }

        //save shop data
        function ConfirmSave() {
                var result = CalltoApiController("/api/ShopApi/Shop_Save", {Mode:'@Model.Mode',ShopIDPrefix:'@Model.ShopIDPrefix', ShopSiteID: $("#ShopSiteID").val(), ShopName: $("#ShopName").val(),MallID:$("#MallID").val(),FtpHost:$("#FtpHost").val(),FtpUserName:$("#FtpUserName").val(),FtpPassword:$("#FtpPassword").val(),ItemURL:$("#ItemURL").val(),ImageURL:$("#ImageURL").val(),FreeShippingAmount:$("#FreeShippingAmount").val(),Status:$("input[name='Status']:checked").val()});

                if (result=="true") {
                    ShowMessage("I101","SaveOK");
                }
                else {
                     $("#UserName").focus();
                    ShowMessage("E001");
                }            
        }

        function SaveOK() {
            window.location.href = '@Url.Action("ShopList","Shop")';
        }
    </script>
}