@model Models.ShopTemplateModel
@{
    ViewBag.Title = "Shop_TemplateEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render(Url.Content("~/Content/item.css"))
<div id="CmnContents">
    <div id="ComBlock">
        <div class="setListBox inlineSet iconSet iconEdit">
            <h1 id="MainContent_head">スマートテンプレート編集</h1>
            <div class="smartTmp entryBox">
                <div>
                    <table id="tblTemplateHeader">
                        <tbody>
                            <tr>
                                <th>ステータス</th>
                                <td>
                                    <input type="radio" id="RadioButton1" name="status" value="1" checked /><span> 有効</span>
                                    <input type="radio" id="RadioButton2" name="status" value="0" /><span> 無効</span>
                                </td>
                            </tr>
                            <tr>
                                <th>テンプレートID</th>
                                <td valign="top">
                                    @Html.TextBoxFor(m => m.TemplateID, new { @maxlength = 50 })
                                </td>
                            </tr>
                            <tr>
                                <th>テンプレート名</th>
                                <td>
                                    @Html.TextBoxFor(m => m.TemplateName, new { @maxlength = 50 })
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/rakutenmall.png")" /><span> #1 ラケットプラザ楽天</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="R_RacketTemplate" title="Template Description" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/rakutenmall.png")" /><span> #2 スポーツプラザ楽天</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="R_SportsPlazaTemplate" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/rakutenmall.png")" /><span> #3 ラックピース楽天</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="R_LuckPieceTemplate" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/rakutenmall.png")" /><span> #4 ベースボールプラザ楽天</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="R_HonpoTemplate" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/yahoo.png")" /><span> #5 ラケットプラザヤフー</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="Y_Racket" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/yahoo.png")" /><span> #6 スポーツプラザヤフー</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="Y_SportsPlaza" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/yahoo.png")" /><span> #7 ラックピースヤフー</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="Y_Luckpiece" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/yahoo.png")" /><span> #8 卓球本舗ヤフー</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="Y_Honpo" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/yahoo.png")" /><span> #9 ベースボールプラザヤフー</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="Y_BB_plaza" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/ponparemall.jpg")" /><span> #10 ラケットプラザポンパレ</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="P_Racket" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/amazon.png")" /><span> #11 Amazon</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="A_RastaSports" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/wowma.png")" /><span> #12 Wowma Racket</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="W_Racket" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <h2 class="pad5"><img src="@Url.Content("~/images/jisha.jpg")" /><span> #13 新自社</span></h2>
                                </th>
                            </tr>
                            <tr>
                                <th class="padleft30">テンプレート</th>
                                <td valign="middle">
                                    <textarea id="J_racket" placeholder="半角英数字／-（ハイフン）／_（アンダーバー）が利用可能" style="width:600px;"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*@section Scripts
{
    <scrit type=""
    
    }*@


