
@{
    Layout = null;
}
<!DOCTYPE html>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/userlogin.css")
@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LoginLayout</title>
</head>
<body>
    @RenderBody()
</body>
</html>
