
@{
    Layout = null;
}
<!DOCTYPE html>
@Scripts.Render(Url.Content("~/bundles/jquery"))
@Scripts.Render(Url.Content("~/bundles/bootstrap"))
@Styles.Render(Url.Content("~/Content/css"))
@Styles.Render(Url.Content("~/Content/userlogin.css"))
@RenderSection("scripts", required: false)
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LoginLayout</title>
</head>
<body>
    <input type="hidden" id="MessageURL" value="@Url.Action("Message_Select", "api/MessageApi")" />
    @RenderBody()
</body>
</html>
