
@{
    Layout = null;
}
<!DOCTYPE html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/userlogin.css")
@RenderSection("scripts", required: false)
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LoginLayout</title>
</head>
<body>
    <input type="hidden" id="MessageURL" value="@Url.Action("Message_Select", "api/MessageApi")" />
    @RenderBody()
</body>
</html>
