@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render(Url.Content("~/Content/shop_category.css"))

<div id="CmnContents">
    <div id="ComBlock">
        <div class="setListBox inlineSet iconSet iconList">
            <h1>ショップカテゴリ一覧画面</h1>
            <!-- CategoryID search -->
            <div class="CateIdSar resetValue searchBox">
                <h2>カテゴリ検索<span>※注意：スペース区切りで一致検 索</span></h2>
                <dl>
                    <dt>カテゴリ名</dt>
                    <dd><input type="text" id="txtcatid" placeholder="例）テニス シューズ プリンス" tabindex="1" /></dd>
                    <dd><input type="text" id="txtcategoryid" class="d-none" /></dd>
                </dl>
                <p><input type="button" id="btnSearch" value="検 索" tabindex="2"/></p>
            </div>

            <div class="shopCate operationBtn">
                <input type="file" id="upload" />
                <input type="button" id="btnImport" value="インポート" />
                <input type="button" id="btnExport" value="ー覧データをエクスポート" />
            </div>
            <!-- /operationBtn -->
            <div class="shopCate resetValue">
                <input type="text" id="btnNew" value="New" class="d-none" />
                &nbsp;&nbsp;<p class="cateTop">カテゴリTOP</p>

                <table>
                    <tr>
                        <td>
                            <ul id="menuTree">
                                <li>
                                    <div class="shopCateEdit">
                                        <p><input type="button" id="btnUpdateCat" value="カテゴリの編集" onclick="EditCategory('Edit')" disabled/></p>
                                        <p><input type="button" id="btnAdd" value="孫カテゴリの追加" onclick="EditCategory('New')"/></p>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <div class="shopCateList">
                    <div id="treeview1" class="treeview"></div>
                </div>

                <div class="shopCateDate">
                    <table class="listTable" id="CategoryChildList" style="margin-top:0px;">
                        <thead>
                            <tr>                               
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
              <div class="shopCateBtn"><input type="button" id="btnupdate" value="編集" onclick="UpdateCategory()" /></div>
            </div><!-- /.shopCate.resetValue -->

        </div><!--setListBox-->
    </div><!--ComBlock-->
</div><!--/#CmnContents-->

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtcatid").select();
            var selectedNodeId;
            var nodeid;
            $('#treeview1')
                .on('select_node.jstree', function (e, data) {                   
                    if (selectedNodeId === data.node.id) {
                        data.instance.deselect_node(data.node);
                        selectedNodeId = "";   
                        $("#txtcategoryid").val(selectedNodeId);
                        $("#btnUpdateCat").prop("disabled", true);
                    } else {
                        selectedNodeId = data.node.id;
                        $("#txtcategoryid").val(selectedNodeId);
                        $("#btnUpdateCat").prop("disabled", false);
                        BindChildCategory(data.node.id);
                    }
                })
                .jstree({
                    "plugins": ["search", "wholerow"],
                    'core': {
                        'data': {
                            'url': function (node) {                                
                               return node.id === '#' ? "/api/CategoryApi/GetRootNode" : "/api/CategoryApi/GetChildren/" + node.id;
                            },
                            'method': 'POST',
                            'headers':
                            {
                                Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
                            },
                            'data': function (node) {
                                nodeid = node.id;
                                return { 'id': node.id };
                            },
                            'success': function (result) {
                                if (nodeid === "#") {
                                    BindChildCategoryDetail(result);
                                }
                            }
                        }
                    }
                });
        });

        function BindChildCategory(id) {
            var obj = {ParentCategoryCD:id};
            var response = CalltoApiController('@Url.Action("ChildCategory_Select", "api/CategoryApi")', obj);
            BindChildCategoryDetail(response);
        }

        function BindChildCategoryDetail(result) {
           
           table = $('#CategoryChildList').DataTable({
                data:result,
                destroy: true,
                "searching": false,
                "paging": false,
                "info": false,
                "ordering":false,
                "columns": [
                    { "data": "text" }
                ],
                "columnDefs": [
                    {
                        "targets": 0,
                        "data": "text",
                        "render": function (data, type, row) {
                            return '<span class="spnCatCD" id=' + row.id + '>' + row.text+'</span>';
                        }
                    }]
            });
            sortable('#CategoryChildList tbody', {
                items: "tr",
                forcePlaceholderSize: true,
                placeholderClass: 'ph-class',
            })
        }

        function UpdateCategory() {
            var CategoryList = [];
            $.each($("#CategoryChildList > tbody > tr"), function (index) {
                var CategoryCD = $(this).find("span.spnCatCD").attr('id');
                var SEQ = index + 1;
                var CategoryModel = { CategoryCD: CategoryCD, SEQ: SEQ };
                CategoryList.push(CategoryModel);
            });
            var response = CalltoApiController('@Url.Action("CategorySerial_Update", "api/CategoryApi")', { CategoryList: CategoryList});
            if (response == "true") {
               ShowMessage("I101");
            }
            else {
               ShowMessage("E001");
            }
        }

        function EditCategory(mode)
        {            
            if (mode == "New") {
                var ParentCatCD;
                if ($("#txtcategoryid").val() == "")
                    ParentCatCD = "0000";
                else
                    ParentCatCD = $("#txtcategoryid").val();
                window.location.href = '@Url.Action("CategoryEntry", "Category")?ParentCategoryCD=' + ParentCatCD+ "&Mode=" + mode;
            }
            else {
                window.location.href = '@Url.Action("CategoryEntry", "Category")?CategoryCD=' + $("#txtcategoryid").val() + "&Mode=" + mode;
            }
        }
    </script>
}
